.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#caixa {
    height: 300px;
    width: 300px;
    align-items: center;
    margin: 15px;
    border-radius: 5px;
}

#caixa img {
    height: 90%;
    width: 90%;
}


#caixa p {
    margin-top: 3px;
    color: black
}